{% extends 'home/base_servicos.html' %}
{% load static %}
{% block titulo_pagina %}
    VM - Todos os Serviços
{% endblock titulo_pagina %}

{% block top_post %}
    <section class="single-page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Serviços</h2>
				<ol class="breadcrumb header-bradcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="{% url 'home:home' %}" class="text-white">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Serviços</li>
				</ol>
			</div>
		</div>
	</div>
</section>
{% endblock top_post %}

{% block post %}
    <section class="posts section">
	<div class="container">
		<div class="row">
	           {% for servico in servicos %}
			    <article class="col-lg-4 col-md-6">
				<div class="post-item">
					<div class="media-wrapper">
						<img loading="lazy" src="{{ servico.imagem.url }}" alt="{{ servico.nome }}" class="img-fluid">
					</div>

					<div class="content">
						<h3><a href="#">{{ servico.nome }}</a></h3>
                        {% autoescape off %}
						    <div>{{ servico.descricao| slice:"0:300" }}...</div>
                        {% endautoescape %}
						<a class="btn btn-main" href="#">Saber Mais</a>
					</div>
				</div>
			</article>
            {% endfor %}
		</div>
	</div>
</section>
{% endblock post %}